  .prueba{
    background-image: url(../img/Obras/PINTURA/PAI_3.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
   /* background-position: center;*/
    /* min-height: 565px;*/
  }
  